body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2, h1 {
    color: #d63384; /* soft pinkish color */
}

input, button {
    display: block;
    margin: 12px 0;
    padding: 10px;
    width: 250px;
}

button {
    background: #ff4d88;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #e6005c;
}
